twisted==14.0.0
treq==0.2.1
service_identity
pycrypto
netaddr
sh
requests
# docker in apt repo uses API v1.16, docker-py v1.0.0 uses v1.17.
# Pin this version until docker repo is updated.
docker-py==0.7.2
python-etcd